
.moto{
  font-family: arial, sans-serif;
}
table{
  width:  2px;
}
.hyou{
}
.wakuban{

}
.umaban{

}
.uma{
  white-space: nowrap;
  width: 100%;
}
.kisyu{
  white-space: nowrap;

}
.tyoukyousi{
  white-space: nowrap;

}
.umanusi{
  white-space: nowrap;

}
.umanusisyo{
  white-space: nowrap;

}
.houboku{
  white-space: nowrap;

}
.kiozu{
  white-space: nowrap;

}
.zen1{
  white-space: nowrap;

}
.zen2{

}
.zen3{
white-space: nowrap;
}


// Place all the styles related to the Kyis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
